.container-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-counter{
    background-color: green;
    font-size: 14px;
}

.btn-counter:hover{
    background-color: blue;
}

.card-image-product{
    width: 100%;
    height: 200px;
    background-size: cover;
}