.item-count-container,
.item-count-controls-container,
.container-icons-count,.body-text,.row-container {
    display: flex;
}

.item-count-container,.item-count-controls-container,.row-container{
    flex-direction: row;
}

.item-count-controls-container{
    margin-right: 5px;
}

.item-count-container{
    align-items: center;
    padding: 5px;
}

.row-container{
    justify-content: center;
}

.container-icons-count,.body-text  {
    flex-direction: column;
}

.item-count-container {
    align-items: center;
}

.container-icons-count {
    margin-left: 2px;
}

.icon-count {
    cursor: pointer;
    fill: black;
    height: 25px;
    width: 25px;
}

.icon-count:hover {
    fill: #85C1E9;
}

.m-b-5 {
    margin-bottom: 5px;
}

.item-count-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #85C1E9;
    border: 1px solid rgb(131, 131, 201);
    user-select: none;
}

.card-image-product{
    user-select: none;
}

.loading-item{
    margin-top: 250px;
}

.row-container-item{
    margin-top: 20px;
}

.card-product{
    width: 18rem;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-product-body{
    color: rgb(17, 3, 3);
    font: bold 18px Montserrat;
    margin-top: 5px;
    border-radius: 5px;
    background-image:url(../../images/69adc4a1c63f959ede0dd4c1caa10cce.jpg) ;
}

.body-text{
    padding: 4px;
    user-select: none;
}